<p id="notice"><%= notice %></p>

<h1 class="title">Ideas</h1>

<br>
<table>
  <% @ideas.in_groups_of(3) do |group| %>
  <div class="row">
    <% group.compact.each do |idea| %>
      <div class="col-md-4">
        <%= image_tag idea.picture_url, width: '100%' if idea.picture.present? %>
        <h4><%= link_to idea.name, idea %></h4>
        <h5><%= idea.description %></h5>


          <%= link_to 'Show', idea %>
          <%= link_to 'Edit', edit_idea_path(idea) %>
          <%= link_to 'Destroy', idea, method: :delete, data: { confirm: 'Are you sure?' } %>

      </div>
    <% end %>
  </div>
<% end %>


</table>




<footer>
  <div class="container">
    Created by Kristina <%= Time.now.year %>
  </div>
</footer>
